@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@600&display=swap');

* {
    font-family: 'Proza Libre', sans-serif;
}

body {
    background-color: #222;
    background-image: url(http://rb.gy/q12hn);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
